@page "change-info-confirm"
<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row breadcrumb_box  align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12 text-center text-md-left">
                        <h2 class="breadcrumb-title">Shop</h2>
                    </div>
                    <div class="col-lg-6  col-md-6 col-sm-12">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list text-center text-md-right">
                            <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active">Password Confirmation</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- breadcrumb-area end -->
<!-- Cart area start -->
<div class="empty-cart-area pb-100px pt-100px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-heading">

                </div>
                <div class="empty-text-contant text-center">

                    <h1>Change Password Confirmation</h1>
                    <br>
                    <p>
                        Your password has been reset. Please <a asp-area="Identity" asp-page="/Account/Login">click here
                            to log
                            in</a>.
                    </p>
                </div>
                <input type="hidden" id="detail-add">
            </div>
        </div>
    </div>
</div>
<!-- Cart area end -->
