@model MAQFurni.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "_Admin";
}

@* <h1>Edit</h1>

    <h4>Product</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProductId" />
    <div class="form-group">
    <label asp-for="ProductName" class="control-label"></label>
    <input asp-for="ProductName" class="form-control" />
    <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="ProductImage" class="control-label"></label>
    <input asp-for="ProductImage" class="form-control" />
    <span asp-validation-for="ProductImage" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="ProductPrice" class="control-label"></label>
    <input asp-for="ProductPrice" class="form-control" />
    <span asp-validation-for="ProductPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="Quantity" class="control-label"></label>
    <input asp-for="Quantity" class="form-control" />
    <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="AvailableId" class="control-label"></label>
    <select asp-for="AvailableId" class="form-control" asp-items="ViewBag.AvailableId"></select>
    <span asp-validation-for="AvailableId" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="CategoryId" class="control-label"></label>
    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
    <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="CreateDate" class="control-label"></label>
    <input asp-for="CreateDate" class="form-control" />
    <span asp-validation-for="CreateDate" class="text-danger"></span>
    </div>
    <div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
    </div>
    </form>
    </div>
    </div>

    <div>
    <a asp-action="Index">Back to List</a>
    </div> *@

<div class="container">
    <div class="page-header">
        <h1 class="page-header__title">Edit Product</h1>
    </div>
    <form asp-action="Edit">
       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <input type="hidden" asp-for="ProductId" /> *@
        <div class="page-tools">
            <div class="page-tools__breadcrumbs">
                <div class="breadcrumbs">
                    <div class="breadcrumbs__container">
                        <ol class="breadcrumbs__list">
                            <li class="breadcrumbs__item">
                                <a class="breadcrumbs__link" href="index.html">
                                    <svg class="icon-icon-home breadcrumbs__icon">
                                        <use xlink:href="#icon-home"></use>
                                    </svg>
                                    <svg class="icon-icon-keyboard-right breadcrumbs__arrow">
                                        <use xlink:href="#icon-keyboard-right"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="breadcrumbs__item disabled"><a class="breadcrumbs__link"
                                    href="#"><span>E-commerce</span>
                                    <svg class="icon-icon-keyboard-right breadcrumbs__arrow">
                                        <use xlink:href="#icon-keyboard-right"></use>
                                    </svg></a>
                            </li>
                            <li class="breadcrumbs__item"><a class="breadcrumbs__link"
                                    href="products.html"><span>Products</span>
                                    <svg class="icon-icon-keyboard-right breadcrumbs__arrow">
                                        <use xlink:href="#icon-keyboard-right"></use>
                                    </svg></a>
                            </li>
                            <li class="breadcrumbs__item active"><span class="breadcrumbs__link">Edit Product</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="card add-product card--content-center">
            <div class="card__wrapper">
                <div class="card__container">
                    <div class="add-product__row">

                        <div class="add-product__right">
                            <div class="row row--md">
                                <div class="col-12 form-group form-group--lg">
                                    <label class="form-label" asp-for="ProductId"></label>
                                    <div class="input-group">

                                        <input class="input" type="text" placeholder="" required asp-for="ProductId"
                                            readonly>
                                        <span asp-validation-for="ProductId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 form-group form-group--lg">
                                    <label class="form-label" asp-for="ProductName"></label>
                                    <div class="input-group">
                                        <input class="input" type="text" placeholder="" required asp-for="ProductName">
                                        <span asp-validation-for="ProductName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 form-group form-group--lg">
                                    <label asp-for="ProductImage" class="form-label">Product Images</label>
                                    <div class="image-upload">
                                        <div class="image-upload__drop">
                                            <input class="image-upload__input" type="file" name="file_upload"
                                                multiple="multiple" accept="image/png, image/jpeg" />
                                            <div class="image-upload__drop-text">
                                                <svg class="icon-icon-upload">
                                                    <use xlink:href="#icon-upload"></use>
                                                </svg><span class="image-upload__drop-action text-blue">Browse</span>
                                                <span> image to upload</span>
                                            </div>
                                        </div>
                                    </div>
                                    <input asp-for="ProductImage" type="hidden" id="category__preview-input">
                                    <a style="display: none;" id="category__preview-image" target="_blank" href="">Click
                                        here to preview image</a>
                                </div>
                                <div class="col-12 col-md-6 form-group form-group--lg">
                                    <label class="form-label" asp-for="ProductPrice"></label>
                                    <div class="input-group input-group--prepend">
                                        <div class="input-group__prepend"><span class="input-group__symbol">$</span>
                                        </div>
                                        <input class="input" type="number" min="0" max="999999999" placeholder=""
                                            required asp-for="ProductPrice">

                                        <span asp-validation-for="ProductPrice" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 form-group form-group--lg">
                                    <label class="form-label" asp-for="Quantity"></label>
                                    <div class="input-group">
                                        <input class="input" type="number" placeholder="" required asp-for="Quantity">
                                        <span asp-validation-for="Quantity" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 form-group form-group--lg">
                                    <label class="form-label" asp-for="Description"></label>
                                    <div class="input-editor">

                                        <textarea rows="5" class="input" type="text" placeholder="" required
                                            asp-for="Description"></textarea>

                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 form-group form-group--lg">
                                    <label class="form-label" asp-for="AvailableId"></label>
                                    <div class="input-group input-group--append">
                                        <select class="input js-input-select input--fluid" data-placeholder=""
                                            asp-for="AvailableId" asp-items="ViewBag.AvailableId">

                                        </select><span class="input-group__arrow">
                                            <svg class="icon-icon-keyboard-down">
                                                <use xlink:href="#icon-keyboard-down"></use>
                                            </svg></span>
                                    </div>
                                </div>
                                <div class="col-12 form-group form-group--lg">
                                    <label class="form-label" asp-for="CategoryId"></label>
                                    <div class="input-group input-group--append">
                                        <select class="input js-input-select input--fluid" data-placeholder=""
                                            asp-for="CategoryId" asp-items="ViewBag.CategoryId">

                                        </select><span class="input-group__arrow">
                                            <svg class="icon-icon-keyboard-down">
                                                <use xlink:href="#icon-keyboard-down"></use>
                                            </svg></span>
                                    </div>
                                </div>

                                @* <div class="form-group">
                                    <label asp-for="CreateDate" class="control-label"></label>
                                    <input asp-for="CreateDate" class="form-control" />
                                    <span asp-validation-for="CreateDate" class="text-danger"></span>
                                    </div> *@

                            </div>
                            <div class="add-product__submit">
                                <div class="modal__footer-button">
                                    <button class="button button--primary button--block" data-dismiss="modal"
                                        data-modal="#addProductSuccess" type="submit" value="Save"><span
                                            class="button__text">Save</span>
                                    </button>
                                </div>
                                <div class="modal__footer-button"><a class="button button--secondary button--block"
                                        asp-action="Index"><span class="button__text">Cancel</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>